# =========================
# Node / NPM
# =========================
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# =========================
# Environment variables
# =========================
.env

# =========================
# Uploads (Multer files)
# =========================
uploads/
uploads/**

# =========================
# Build / Cache
# =========================
dist/
build/
.cache/

# =========================
# Logs
# =========================
logs/
*.log

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# IDE / Editor
# =========================
.vscode/
.idea/
*.swp
